.btn {
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        display:inline-block;
        border-radius: 10rem;
        padding: 1.5rem 4rem;
        transition: all .2s;
        position:relative;
        font-size: $default-font-size;
    }

    &:hover {
        transform:translateY(-3px);
        box-shadow:0 1rem 2rem rgba($color-black, .2);
    }

    &:active {
        transform: translateY(-1px);
        box-shadow:0 .5rem 1rem rgba($color-black, .2);
    }

    &--white {
        background-color: $color-white;
        color:$color-gray-dark;

        &::after {
            background-color: $color-white;;
        }
    }

    &--green {
        background-color: $color-primary;
        color:$color-white;

        &::after {
            background-color: $color-primary;;
        }
    }

    &::after {
        content: "";
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .3s;
    }
    

    &:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
    }

    &--animated {
        animation: moveInBottom 4s ease-out .75s backwards;
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-primary;
        text-decoration: none;
        padding: 3px;
        display: inline-block;
        border-bottom: 1px solid $color-primary;
        transition: all .2s;
    }

    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .2);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(0);
    }
}